@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn" />
}
<br>
<p>@Html.ActionLink("Back to clients", "Index")</p>